{% extends 'inventory/base.html' %}

{% block body_block %}

    <h1>Acercate al root-admin overlord Erick Delfin para que te de tu {{ individual_item.item.item_name }}.</h1>

        <ul>
            <li>Item ID: {{ individual_item.id }}</li>
        </ul>

    <h1>Cuando vayas a devolver el objeto, se lo debes regresar a m'lord Erick!</h1>

    {# Temporary #}
    <a href="{% url 'inventory:index' %}">Go back to Inventory index.</a>
    <hr>
    <a href="{% url 'inventory:user_items' request.user.username %}">Ir a tu historial.</a>

{% endblock %}