{% extends 'inventory/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <h1>Item List</h1>


        <div class="row">

            {% for item in items %}

                <div class="col s12 m4 cardCol">
                    <div class="card item-card z-depth-3">
                        <div class="card-image">

                            <div class="waves-effect waves-light">
                                <img src="http://erickdelfin.me/img/placeholder1.jpg">
                            </div>

                            <a href="{% url 'inventory:detail' item.id %}" class="waves-effect waves-light btn-floating halfway-fab waves-effect waves-light deep-purple lighten-2"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-action item-action">

                            <a class="truncate" href="{% url 'inventory:detail' item.id %}"><i class="fa fa-rocket" aria-hidden="true"></i> {{ item.item_name }}</a>
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            <p class="available-count {% if item.many_left %}border-green{% elif item.normal_left %}border-yellow{% else %}border-red{% endif %}">{{ item.available_count }}</p>

                        </div>
                    </div>

                    <div class="text-owner">
                        <p><i class="fa fa-smile-o" aria-hidden="true"></i> <strong>{{ item.item_owner.owner_name }}</strong></p>
                    </div>
                </div>

            {% endfor %}

        </div>


{% endblock %}
