{% extends 'inventory/base.html' %}
{% load thumbnail %}

{% block body_block %}
    {% if item %}

    <h1>{{ item.item_name }}</h1>
        <ul>
            <li>Description: {{ item.item_description }}</li>
            <li>Available: {{ item.available_count }}</li>
            <li>Currently borrowed: {{ item.current_borrowed }}</li>
            <li>Owner: {{ item.item_owner.owner_name }}</li>
        </ul>

        <div id="aniimated-thumbnials">
            {% for img in item.itemimages_set.all %}

                <a href="{{ img.img.url }}">
                    <img src="{% thumbnail img.img 100x100 crop %}" alt="" border="5" style="border-color: black">
                </a>

            {% endfor %}
        </div>

    <form action="{% url 'inventory:borrow' item.id %}" method="post">
        {% csrf_token %}

        <input type="hidden" name="item" value="{{ item.id }}" />
        <button type="submit">Borrow this item</button>

    {% endif %}
{% endblock %}